{% if resume.certificates.size > 0 %}
<section>
  <div class="npb">
  <h2 id="certificates" class="h3 hr-bottom">
    {{ strings.resume.certificates | default:"Certificates" }}
    <span class="symbol {{ icons.certificates | default:'icon-library' }}"></span>
  </h2>
  {% for edu in resume.certificates %}
  <section>
    <header class="{% unless forloop.first %}mt2{% endunless %}">
      <h3 class="h4 faded">
        {% capture name %}<span class="bc">{{ edu.name }}</span>{% endcapture %}
        {% capture platform %}<span class="bc">{{ edu.platform }}</span>{% endcapture %}
        {{ strings.resume.certificates_title
          | default:"<!--name--> from <!--platform-->"
          | replace:"<!--name-->", name
          | replace:"<!--platform-->", platform
        }}
      </h3>
    </header>

    {% if edu.courses.size > 0 %}
    <h4 class="sr-only">{{ strings.resume.courses | default:"Courses" }}</h4>
    <ul>
      {% for course in edu.courses %}
        <li>{{ course }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
  {% if forloop.first %}</div>{% endif %}
  {% endfor %}
</section>
{% endif %}
